{% extends 'ai/base.html' %}
{% load static %}

{% block javascript %}

<script>
    window.addEventListener('load',()=> {
      canvas = document.querySelector("#canvas");
      ctx = canvas.getContext("2d");
      resize();
      let painting = false;

      function startpaint(e) {
        painting = true;
        draw(e);
      }
      function stoppaint() {
        painting = false;
        ctx.beginPath();
      }
      function draw(e){
        if(!painting) return;
        var rect = canvas.getBoundingClientRect();
        ctx.lineWidth = 10;
        ctx.lineCap = 'round';
        ctx.fillStyle = 'black';
        ctx.lineTo(e.clientX- (rect.left),e.clientY- (rect.top));
        ctx.stroke();
        ctx.beginPath();
        ctx.moveTo(e.clientX-(rect.left),e.clientY-(rect.top));
      }
      canvas.addEventListener('mousedown',startpaint);
      canvas.addEventListener('mouseup',()=>{
        stoppaint();     
        var w = canvas.width;
        var h = canvas.height;

        var data = ctx.getImageData(0, 0, w, h);

        var compositeOperation = ctx.globalCompositeOperation;

        ctx.globalCompositeOperation = "destination-over";
        ctx.fillStyle = "#fff";
        ctx.fillRect(0,0,w,h);
        
        var imageData = canvas.toDataURL("image/png",1.0);
        ctx.clearRect (0,0,w,h);
        ctx.putImageData(data, 0,0);        
        ctx.globalCompositeOperation = compositeOperation;

        $.ajax({
          url: "livedata",
          method: "POST",
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
          data: {'livedata':imageData,'project_title':'{{project_title}}'},
          dataType: "json"
        }).done(function(response) {
          console.log("Success");
          console.log(response);
          document.getElementById('prediction').innerHTML = "Prediction : "+response['prediction'];
          console.log(typeof response['percentages'],)
          for(i=0; i<Object.keys(response['percentages']).length;i++){
            document.getElementById("prediction-progressbar"+i).style.width= response['percentages'][i]+"%";
            document.getElementById("prediction-progressbar-text"+i).innerHTML= response['percentages'][i]+"%";
          }
        }).fail(function (error) {
          document.getElementById('prediction').innerHTML = "Server Error";
        });
      });
      canvas.addEventListener('mouseout',stoppaint);
      canvas.addEventListener('mousemove',draw);
    })
    function resize(){
      canvas.height = 200;
      canvas.width = 200;
    }
    function clearcanvas(){
      ctx.clearRect(0, 0, canvas.width, canvas.height);
    }
  </script>

{% endblock %}



{% block content %}
<div class="col-12 col-sm-6 col-md-6 col-lg-4 mt-5">
    <div class="text-center my-5">
        <canvas id="canvas" class='m-0'></canvas>
        <br>
        <button class="btn btn-danger p-2 px-3 mx-5 my-1" onclick="clearcanvas()">Clear</button>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-6 col-lg-4">
    <h3 id='prediction'>Prediction : </h3>
    <div class="" style="width:300px;height:300px;border:black 2px solid;" >
        {% for i,j in results %}
            <div class="row" style="margin: 1px -10px; 0 0">
                <div class="col-1">
                    {{i}}
                </div>
                <div class="col-10" style="border:black 0px solid;">
                    <div class="progress bg-white" style="height: 20px;border-radius:0 !important;margin:4px -15px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" id="prediction-progressbar{{i}}" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{j}}%;">
                            <span class='small' id='prediction-progressbar-text{{i}}'>{{j}} %</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}